@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #9893DA, #2E6171);
}

main{
    background-color: white;
    padding: 15px;
    box-shadow: 3px 3px 10px #66CED6;
    border-radius: 15px;
}

h1,
h2 {
    text-align: center;
    color: #FF5E5B;
    text-shadow: 1px 1px 0px #66CED6;
}

p {
    font-size: medium;
    text-align: justify;
}

form{
    display: block;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

.input-submit, .input-reset, button{
    display: block;
    font-size: 1em;
    width: 180px;
    height: 30px;
    margin: 7px auto;
}

.input-submit:hover, .input-reset:hover, .input-text:hover,
.input-number:hover, button:hover, select:hover {
    cursor: pointer;
    border-color: #66CED6;
}

.input-text, .input-number{
    font-size: 1em;
    height: 30px;
    margin-bottom: 5px;
}

select{
    display: block;
    height: 30px;
    width: 38%;
    margin: 7px auto;
}

a {
    text-decoration: none;
    color: black;
}

.centraliza {
    text-align: center;
}


/*

Cores da Paleta:

#ff5efb - Bittersweet
##2e6171 Pyne's gray
#66ced6 - Robin egg blue
#e5d4ed - Pale purple
#9893da - Tropical Indigo

*/